#!/bin/bash
set -ue

GITLAB_HOST='https://git.europlanet-gmap.eu/'

OAUTH_CALLBACK_URL='https://localhost:8888/hub/oauth_callback'
OAUTH_CLIENT_ID='xyz---gitlab_client_id---bla'
OAUTH_CLIENT_SECRET='abc---gitlab_client_secret---bla'

export GITLAB_HOST OAUTH_CALLBACK_URL OAUTH_CLIENT_ID OAUTH_CLIENT_SECRET

